<ng-container *ngIf="contact$ | async as contact ; else noContact">
    <div class="contact-header">
        <div class="prev">
            <dx-button icon="back" stylingMode="text" [routerLink]="['/contacts']"></dx-button>
        </div>
        <div class="picture">
            <img *ngIf="contact.pictureSrc" [src]="contact.pictureSrc" />
            <ng-container *ngIf="!contact.pictureSrc && (contact.firstName || contact.lastName) ; else defaultPicture">
                <span>{{contact.firstName?.[0]}}{{contact.lastName?.[0]}}</span>
            </ng-container>
            <ng-template #defaultPicture>
                <i class="icon dx-icon-user"></i>
            </ng-template>
        </div>
        <div class="details">
            <span class="full-name">{{contact.firstName}} {{contact.lastName}}</span>
        </div>
        <div class="actions">
            <dx-button *ngIf="isEditing$ | async ; else editButtonTemplate" text="שמירה" type="default"
                stylingMode="contained" [disabled]="!(isChanged$ | async)" (onClick)="onSaveClicked($event)">
            </dx-button>

            <ng-template #editButtonTemplate>
                <dx-button text="עריכה" type="default" stylingMode="contained" (onClick)="onEditClicked($event)">
                </dx-button>
            </ng-template>
        </div>
    </div>

    <div class="contact-details">
        <dx-form #dxForm [formData]="editableContact" [readOnly]="false" labelMode="floating"
            [minColWidth]="150" [colCount]="2" [readOnly]="(isEditing$ | async) ? false : true"
            (onFieldDataChanged)="onContactFieldChanged($event)">
            <dxi-item dataField="firstName">
                <dxo-label text="שם פרטי"> </dxo-label>
                <dxi-validation-rule type="required" message="שם פרטי הוא שדה חובה"></dxi-validation-rule>
            </dxi-item>
            <dxi-item dataField="lastName">
                <dxo-label text="שם משפחה"> </dxo-label>
            </dxi-item>
            <dxi-item dataField="birthDate">
                <dxo-label text="תאריך לידה"> </dxo-label>
            </dxi-item>
        </dx-form>
    </div>
</ng-container>

<ng-template #noContact>
    <div *ngIf="isLoading$ | async ; else notLoading" class="loading">
        Loading...
    </div>
    <ng-template #notLoading>
        No contact
    </ng-template>
</ng-template>