.picture {
    width: 36px;
    height: 36px;
    display: inline-flex;
    border-radius: 50%;
    background: #624545;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
    border: 1px solid #545454;
    margin-inline-end: 20px;
    flex-shrink: 0;
    flex-grow: 0;
}

.full-name {
    font-weight: bold;
}

::ng-deep .dx-datagrid-rowsview .dx-data-row:hover {
    background: #dedede;
    cursor: pointer;
}
::ng-deep .dx-datagrid-rowsview .dx-data-row .actions {
    visibility: hidden;
}
::ng-deep .dx-datagrid-rowsview .dx-data-row:hover .actions {
    visibility: visible;
}