/* You can add global styles to this file, and also import other style files */

html {
    font-family: sans-serif;
    font-family: 'Assistant', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
